<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    
    <div class="container">

        <h1 class="text-center my-4 display-4">Perguntas</h1>

        <div class="d-flex justify-content-end">
            <a href="/perguntar" class="btn btn-success">Perguntar</a>
        </div>

        <% perguntas.forEach(pergunta =>{ %>
            <div class="card mb-4 mt-4">
                <div class="card-body">
                    <h3 class="text-danger"><%= pergunta.title %></h3>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id%>" class="btn btn-primary">Responder</a>
                </div>
            </div>
        <% }) %>
    </div>


    <!--Primeiro jQuery depois Javascript-->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
<%- include ('partials/footer.ejs') %>